:root {
  --primary: #029AE0;
  --primary-100: #073044;
  --primary-200: #415A66;
  --primary-300: #017CB3;
  --primary-400: #50B6E6;
  --background: #202124;
  --background-100: #26282b;
  --background-200: #3b3c3f;

  --font-xs: 10px;
  --font-sm: 12px;
  --font-base: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-2xl: 20px;
  --font-3xl: 22px;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: var(--font-md);
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "sidebar content";
  height: 100vh;
  background-color: var(--background);
  color: #fff;
}

h2 {
  font-size: var(--font-3xl);
}

h5 {
  font-size: var(--font-2xl);
}

h4 {
  font-size: var(--font-xl);
}

h5 {
  font-size: var(--font-lg);
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primary);
  color: #fff;
  font-size: var(--font-sm);
  cursor: pointer;
  border: none;
}

/* Sidebar */
#sidebar {
  background-color: var(--background-100);
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

#company-logo {
  height: 65px;
}

#nav-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#nav-buttons li {
  list-style-type: none;
  padding: 15px;
  border-radius: 10px;
  font-size: var(--font-sm);
  cursor: pointer;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

#nav-buttons li:hover {
  background-color: var(--primary-300);
  transition: background-color 0.2s ease-in-out;
}

/* Content */
#content {
  background-color: var(--primary-200);
}

/* Header */
header {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: var(--font-2xl);
}

/* Project Card */
.project-card {
  background-color: var(--background-100);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.project-card:hover {
  outline: 2px solid var(--primary);
}

.card-header {
  display: flex;
  column-gap: 20px;
  padding: 15px 20px;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid var(--background-200);
  height: 60px;
}

.card-content {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}

.card-properties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 40px;
}