.viewer-area {
  background-color: var(--background);
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

/* Ensure the Three.js canvas fills the entire space */
.viewer-area canvas {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  outline: none; /* Remove the outline when the canvas is in focus */
  touch-action: none; /* Important for touch/trackpad support */
} 